/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme-light .page {
  --main-font: 'IBM Plex mono', monospace;
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --button-color: #353430;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --link-effects: #353430;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --rec-color: transparent;
  --title-color: #FFC2E6;
  --content-title-color: #353430;
  --heading-color: #353430;
  --text-color: #353430;

  .decorated-rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
  --main-font: 'IBM Plex mono', monospace;
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --button-color: #353430;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --link-effects: #353430;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --rec-color: transparent;
  --title-color: #FFC2E6;
  --content-title-color: #353430;
  --heading-color: #353430;
  --text-color: #353430;
  }
}