/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--main-font, monospace);
  color: var(--text-color, #F1B2CE);
  font-size: 18px;
  padding-inline: 10px;
}

.header {
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding-block: 10px;
  margin-block-end: 40px;
}

.decorated-zone {
  position: relative;
  min-block-size: 100vb;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  display: inline-block;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decor-color, #FF0070);
  border-block-start: 1px solid var(--decor-color, #FF0070);
  inset-block-start: 10px;
  inset-inline-end: 0;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decor-color, #FF0070);
  border-block-end: 1px solid var(--decor-color, #FF0070);
  inset-block-end: 10px;
  inset-inline-start: 0;
}

.decorated-rec {
  display: flex;
  position: absolute;
  top: 11px;
  right: 10px;
  color: var(--rec-color, #FF0070);
}

.decorated-rec::after {
  content: '';
  align-self: center;
  display: block;
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--rec-color, #FF0070);
  box-shadow: 0 0 4px 2px var(--rec-color, #FF0070);
  margin-inline-start: 10px;
}

.decorated-rec::before {
  content: "REC";
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 0;
  color: var(--button-color, #FF0070);
  text-transform: lowercase;
  outline: none;
  padding-inline: 12px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--button-color, #FF0070);
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color, #FF0070);
  pointer-events: none;
}

.header__title {
  color: var(--title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  line-height: 83%;
}

.header__text {
  font-weight: 700;
  line-height: 130%;
}

.title-decor {
  color: var(--heading-color, #000028);
  background-color: var(--accent-color, #FF0070);
  font-size: inherit;
}

.main {
  font-size: 18px;
}

.section__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-end: 50px;
}

.focus-challenges {
  display: flex;
  flex-direction: column;
}

.content__title {
  color: var(--content-title-color, #FF0070);
  font-size: inherit;
  line-height: 130%;
}

.article {
  display: grid;
  gap: 10px;
}

.article__text {
  line-height: 130%;
  color: var(--text-color, #F1B2CE);
}

.section__article-text-link {
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.section__article-text-link:hover {
  border-block-end: 1px solid var(--link-effects, #F1B2CE);
}

.section__article-text-link:focus {
  padding: 1px;
  border: 1px solid var(--link-effects, #F1B2CE);
}

.concentration-killers {
  display: flex;
  flex-direction: column;
}

.focus-hacks {
  display: flex;
  flex-direction: column;
}

.article__advice-title {
  margin-block-end: 10px;
}

.article__title {
  font-weight: 400;
}

.section__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 5px;
}

.card__block {
  display: grid;
  gap: 10px;
  margin-block-end: 40px;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  grid-row: auto;
  grid-column: auto;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
}

.footer__title {
  color: var(--title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  line-height: 83%;
}

@media (min-width: 768px) {
  
  .page {
    padding-inline: 20px;
  }

  .header {
    padding-block: 20px;
    margin-block-end: 60px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
  }

  .decorated-rec {
    top: 22px;
  }

  .header__title {
    align-self: center;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    inline-size: 50%;
    justify-self: end;
  }

  .section__container {
    margin-block-end: 80px;
  }

  .focus-challenges {
    display: grid;
  }

  .focus-challenges
  .article {
    padding-inline-start: 7px;
  }

  .article {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 4;
  }

  .concentration-killers 
  .content__title {
    grid-column: 1 / 4;
    inline-size: 30%;
  }

  .focus-hacks {
    display: grid;
  }

  .focus-hacks 
  .content__title {
    grid-row: 1 / 3;
  }

  .focus-hacks
  .article {
    padding-inline-start: 7px;
  }

  .focus-hacks 
  .title-decor {
    grid-column: 2 / 4;
  }

  .card__title {
    margin-block-end: 5px;
    grid-column: 1 / 4;
  }

  .card__block {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-end: 60px;
    padding-block-start: 4px;
  }

  .card__image-sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .card__image-ice-cream {
    grid-row: 1 / 3;
  }

  .card__image-tape {
    grid-row: 2 / 4;
  }

  .card__image-street {
    grid-column: 2 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .focus-challenges 
  .article {
    padding-inline-start: 0;
  }

  .concentration-killers {
    display: grid;
    grid-template-rows: min-content 1fr;
  }

  .concentration-killers-block {
    grid-column: span 1;
    grid-row: auto;
  }

  .focus-hacks 
  .article {
    padding-inline-start: 0;
  }

  .card__image-street {
    padding-block-start: 1px;
  }
}